<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.asfirstapp">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.REQUEST_IGNORE_BATTERY_OPTIMIZATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/app_icon_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AsFirstApp"
        tools:ignore="MissingClass"
        tools:targetApi="31">
        <activity
            android:name=".CasualFinish"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AppearanceSettings"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GameSettings"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".Ranking"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FinalScore"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CorrectScreen9"
            android:exported="false"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCchwTQcTNpIkjolMHX8F0uxlAkV-KK7-s" />

        <activity
            android:name=".UnlockCityActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CorrectScreen8"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FindTheCountry"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CorrectScreen7"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FillTheBlanks"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CorrectScreen6"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Puzzle3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CorrectScreen5"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Puzzle2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CorrectScreen4"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Puzzle1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CorrectScreen3"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ThirdQuestion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CorrectScreen2"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SecondQuestion"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CorrectScreen1"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Failure"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Third"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Second"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TrophyRoom"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".VideoSplashScreen"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AsFirstApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".SplashScreen"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AsFirstApp.NoActionBar">
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait">
        </activity>

        <receiver
            android:name=".NotificationReceiver"
            android:enabled="true"
            android:exported="true" />

        <service
            android:name=".MyForegroundService"
            android:exported="true"
            android:foregroundServiceType="mediaPlayback"
            tools:ignore="ForegroundServicePermission" />
        <service
            android:name=".MusicService"
            android:exported="false" />
    </application>

</manifest>